PORT=4000

DB_HOST=127.0.0.1
DB_PORT=3307
DB_USERNAME=root
DB_PASSWORD=user123
DB_DATABASE=grid_talk

# Frontend URL (로컬개발용 Vite 포트)
FRONTEND_URL=http://localhost:5173

# JWT Configuration
JWT_SECRET=secretKey